[submodule "supported_repos/global-workflow"]
	path = supported_repos/global-workflow
	url = https://github.com/TerrenceMcGuinness-NOAA/global-workflow.git
	branch = develop
[submodule "supported_repos/nws-hpc-standards"]
	path = supported_repos/nws-hpc-standards
	url = https://github.com/TerrenceMcGuinness-NOAA/nws-hpc-standards.git
	branch = develop
